#home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 5%;
}

#avatarContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: smoothMove 4s infinite;
}

#homeBtnsContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
}

#avatar {
    position: absolute;
    width: 40vh;
}

#particles{
    height: 32vh;
    width: 32vh;
    border-radius: 200px;
}

#home-text-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5%;
}

.homeText{
    margin-bottom: 20px;
}

#avatarSocial{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    padding: 1%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 60%;
}

.socialIcon{
    width: 3vh;
    border-radius: 10px;
    padding: 2%;
    cursor: pointer;
    transition: 0.25s;
    margin: 2%;
}

.socialIcon:hover{
    background-color: #FFC83D;

}

@keyframes smoothMove {
    0% {
        transform:  translateY(0);
    }
    50% {
        transform:  translateY(-20px);
    }
    100% {
        transform:  translateY(0);
    }
}


@media screen and (max-width: 1050px) {
    #home {
        flex-direction: column-reverse;
    }
    #social{
        width: 100%;
    }
}

@media screen and (max-width: 500px) {

    #avatar {
        width: 30vh;
    }
    
    #particles{
        height: 24vh;
        width: 24vh;
        border-radius: 200px;
    }

}

@media screen and (max-width: 380px) {

    #avatar {
        width: 20vh;
    }
    
    #particles{
        height: 16vh;
        width: 16vh;
        border-radius: 200px;
    }
}